<div class="container">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
  >
    <ul class="nav nav-pills flex-column flex-sm-row">
      <li class="nav-item">
        <a
          [routerLink]="['/home', 'usuarios']"
          routerLinkActive="active"
          class="nav-link"
          aria-current="page"
          >Inicio
        </a>
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['/home', 'newuser']"
          routerLinkActive="active"
          class="nav-link"
          >Nuevo Usuario</a
        >
      </li>
    </ul>
  </header>
</div>
